<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kq.mybatis.mapper.AccountMapper">

	<resultMap id="accountMap" type="com.kq.mybatis.entity.Account">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="age" column="age"/>
        <result property="location" column="location" javaType="com.kq.mybatis.entity.Account" jdbcType="VARCHAR"
                typeHandler="com.kq.mybatis.typehandler.LocationTypeHandler"/>
    </resultMap>
    
     <!-- javaType="string" typeHandler="com.kq.mybatis.typehandler.LocationTypeHandler" -->

	<select id="getName" resultType="String" parameterType="String">
		select name from account t where t.id=#{id}
	</select>
	
	<insert id="insert" parameterType="com.kq.mybatis.entity.Account" useGeneratedKeys="true" keyProperty="id">
		insert account(name,username,age) values(#{name},#{username},#{age})
	</insert>
	
	<select id="getAccount" resultType="com.kq.mybatis.entity.Account" resultMap="accountMap">
		select id,name,username,age,location from account t where t.id=#{id}
	</select>

</mapper>