<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kq.mybatis.mapper.AccountMapper">

	<resultMap id="accountMap" type="com.kq.mybatis.entity.Account">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="age" column="age"/>
        <result property="location" column="location" javaType="com.kq.mybatis.entity.Account" jdbcType="VARCHAR"
                typeHandler="com.kq.mybatis.typehandler.LocationTypeHandler"/>
    </resultMap>
    
     <!-- javaType="string" typeHandler="com.kq.mybatis.typehandler.LocationTypeHandler" -->

	<select id="getName" resultType="String" parameterType="String">
		select name from account t where t.id=#{id}
	</select>
	
	<insert id="insert" parameterType="com.kq.mybatis.entity.Account" useGeneratedKeys="true" keyProperty="id">
		insert account(name,username,age) values(#{name},#{username},#{age})
	</insert>
	
	<select id="getAccount" resultType="com.kq.mybatis.entity.Account" resultMap="accountMap">
		select id,name,username,age,location from account t where t.id=#{id}
	</select>

	<select id="getAccountMap"  resultType="map">
		select id,name,username,age,location from account t where t.id=#{id}

	</select>

	<select id="getAccount1" resultType="com.kq.mybatis.entity.Account" resultMap="accountMap">
		select id,name,username,age,location from account t where t.id=#{id}
		<if test="username!= null">
			AND username=#{username}
		</if>
		<if test="name!= null">
			AND name=#{name}
		</if>
	</select>


	<select id="getAccountList" resultType="com.kq.mybatis.entity.Account" resultMap="accountMap">
		select id,name,username,age,location from account t where 1=1

		<bind name="num" value="0" />

		<foreach collection="list" item="ss" index="index" separator=",">
			<if test="ss.orderByField == 'soldAmount'">
				<if test="ss.orderBy == -1">
					<bind name="num" value="num+1" />
				</if>
			</if>
			<if test="ss.orderByField == 'price'">
				<if test="ss.orderBy == -1">
					<bind name="num" value="num+1" />
				</if>
			</if>
		</foreach>


		<choose>
			<when test="num==2">
				and id=2
			</when>
			<otherwise>

				and id=3

			</otherwise>
		</choose>


	</select>





</mapper>